*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #669BBC;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

header h1{
    color: #FDF0D5;
    font-size: 50px;
}

section{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options{
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color{
    border: none;
    height: 75px;
    width: 75px;
    margin: 10px;
}

.size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sizeValue{
    width: 100px;
    height: 40px;
    color: aliceblue;
    background: none;
    font-size: 30px;
    border: none;
    text-align: center;
}

button{
    margin: 10px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 14pt;
    background-color: #FDF0D5;
    border-color: #A99985;
}



.container{
    background-color: #C1121F;
    border-radius: 10px;
    border: 15px solid #780000;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.field{
    background-color: #FDF0D5;
}

footer{
    background-color: #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh; 
    margin-top: auto;
}

footer p, a{
    color: #FDF0D5;
    font-size: 16px;
}

